
<!-- Toolbar 
<div class="toolbar" role="banner">
    
    
    <span>&nbsp; Laboratorio 4  </span>
    &nbsp;
    <div class="spacer"></div>
      <a  routerLink="/clase1" title="Clase1">Clase1  &nbsp;</a>
     
      <a   routerLink="/bienvenido" title="Bienvenido">Bienvenido &nbsp;</a>
      <a   routerLink="/login" title="Bienvenido">Login  &nbsp;</a>
  </div>
  
  <div class="content" role="main">-->
<app-header></app-header>
  <div class="container" > 
    <router-outlet></router-outlet>
  </div>